 @import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap'); 
 
 *{
    margin:0;
    padding:0;
}

.sidebar{
    background-color: rgb(209, 209, 165);
    width:18vw;
    height:100vh;
    transition:transform 0.4s, ease-in;
    position:absolute;
}

.sidebar nav{
    padding: 47px;
}
.sidebar nav li{
    list-style: none;
    padding:33px 0;
    font-size:1.5em;
    font-weight:bold;
}
.sidebar nav li a{
    text-decoration: none;
}
.mainwin{
    background-color:white;
    width:85vw;
}

.Container{
    display:flex;
}
.info{
    width:60vw;
    margin:auto;
    margin-left:20em;
    height:64vh;
    margin-top:98px;
    background-color:rgb(240, 238, 238);
    display:flex;
}
.dev{
    display:flex;
    justify-content:center;
    flex-direction:column;
    font-family: 'Lora', serif;
}
.hello{
    font-size:55px;
}
.name{
    font-size:42px;
    font-weight:bold;
}
.about{
    font-size:2em;
    margin-top:10px;
}
.devpic{
    margin-top:55px;
}
.devpic img{
    height:50vh;
    width:290px;
}
.buttons{
    margin:30px;
}
.buttons button{
    padding:10px;
    padding-right:10px;
    margin-right:20px;
    border-radius:10px;
    font-weight:bold;
    font-size:10px;
    cursor:pointer;
}
.buttons button:hover{
    color:white;
    background-color: black;
}
.ContactForm h1{
    font-family: 'Lora', serif;
    text-align: center;
    margin-bottom: 30px;
}
.ContactForm{
    margin-left:20em;
    padding:0 34px;
    padding-top: 144px;
}
.ContactForm form{
    margin:0 30px;
}
.ContactForm form div{
    padding:27 px;
}
.ContactForm form div input{
    width:16vw;
    border-radius:5px;
    margin:6px 0;
    padding:3 px;
}
#emailhelp{
    font-size:8px;
    color:aqua;
    margin:0 5px;
}

.form-group{
    margin-top:10px;
}
.btn{
    padding:10px;
    padding-right:10px;
    margin-right:20px;
    border-radius:10px;
    font-weight:bold;
    font-size:10px;
    cursor:pointer;
}
.btn:hover{
    color:white;
    background-color: black;
}

.education{
    margin-top:50px;
    margin-bottom:25px;
    font-family: 'Lora', serif;
    width:70vw;
    display:inline-block;
    margin-left:30px;
}
.education h2{
    margin-bottom:30px;
    text-align: center;
}
.edu{
    background-color:rgb(222, 250, 240);
    margin-left:20em;
}
.edu ul li{
    
    padding:10px;
    font-size:2 em;
    margin-left:40px;
    font-family: 'Lora', serif;
}
.skills{
    margin-left:75px;
}
.html{
    display:flex;
}
.Ninety{
    width:20vw;
    height:1vh;
    background-color: brown;
    display:flex;
    
}
.Seventy{
    width:15vw;
    height:1vh;
    background-color: brown;
    display:flex;
    
}
.Eighty{
    width:17.5vw;
    height:1vh;
    background-color: brown;
    display:flex;
    
}
.sidebargo{
    transform: translate(-443px,0px);
    position: absolute;
}
.hamburger{
    position:absolute;
    cursor:pointer;
    top:10px;
    left:10px;
}
.cross{
    margin-left:190px;
}

.f{
    background-color: black;
    color:white;
    font-size:0.8em;
    text-align: center;
    width:100vw;
    height:8vh;
    margin-bottom:0px;
    margin-top:230px;
    padding-top:7px;
}
.f1{
    background-color: black;
    color:white;
    font-size:0.8em;
    text-align: center;
    width:100vw;
    height:8vh;
    margin-bottom:0px;
    margin-top:230px;
    padding-top:7px;
}
.f2{
    background-color: black;
    color:white;
    font-size:0.8em;
    text-align: center;
    width:100vw;
    height:8vh;
    margin-bottom:0px;
    margin-top:132px;
    padding-top:7px;
}
.f3{
    background-color: black;
    color:white;
    font-size:0.8em;
    text-align: center;
    width:100vw;
    height:8vh;
    margin-bottom:0px;
    margin-top:70px;
    padding-top:7px;
}
.yup{
    display:inline-block;
}
.yup a{
    color:antiquewhite;
}
@media(max-width:700px)
{
    .devpic{
        display:none;
    }
    .info{
        font-size:10px;
    }
    .intro .education .ContactForm{
        margin:50px 8px;
    }
    .buttons button{
        font-size:10px;
    }

}
